.header__account--items {
  margin-left: 12px
}

.header__account--items:first-child {
  margin-left: 0
}

@media only screen and (min-width:768px) {
  .header__account--items {
      margin-left: 15px
  }
}
@media only screen and (min-width:576px) {
  .header__minicart--items {
      margin-left: 1.8rem
  }
}

@media only screen and (min-width:992px) {
  .header__minicart--items {
      margin-left: 25px
  }
}
.header__account--btn {
  position: relative
}

.header__account--btn:hover {
  color: var(--secondary-color)
}
.offcanvas__stikcy--toolbar__btn.minicart__open--btn {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.minicart__open--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.items__count {
  position: absolute;
  left: 1.8rem;
  top: -4px;
  width: 1.7rem;
  height: 1.7rem;
  font-size: 1.1rem;
  line-height: 1.7rem;
  background: var(--secondary-color);
  text-align: center;
  border-radius: 50%;
  color: var(--text-white-color)
}
