<li class="header__account--items header__minicart--items">
  <a
    class="header__account--btn minicart__open--btn"
    href="javascript:void(0)"
    data-offcanvas
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="22.706"
      height="22.534"
      viewBox="0 0 14.706 13.534"
    >
      <g transform="translate(0 0)">
        <g>
          <path
            data-name="Path 16787"
            d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z"
            transform="translate(0 -463.248)"
            fill="currentColor"
          />
          <path
            data-name="Path 16788"
            d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z"
            transform="translate(-1.191 -466.622)"
            fill="currentColor"
          />
          <path
            data-name="Path 16789"
            d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z"
            transform="translate(-2.875 -466.622)"
            fill="currentColor"
          />
        </g>
      </g>
    </svg>
    <span class="items__count">2</span>
  </a>
</li>
<!-- Start offCanvas minicart -->
<div class="offCanvas__minicart">
  <div class="minicart__header">
    <div
      class="minicart__header--top d-flex justify-content-between align-items-center"
    >
      <h3 class="minicart__title">Shopping Cart</h3>
      <button
        class="minicart__close--btn"
        aria-label="minicart close btn"
        data-offcanvas
      >
        <svg
          class="minicart__close--icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="32"
            d="M368 368L144 144M368 144L144 368"
          />
        </svg>
      </button>
    </div>
    <p class="minicart__header--desc">The organic foods products are limited</p>
  </div>
  <div class="minicart__product">
    <div class="minicart__product--items d-flex">
      <div class="minicart__thumb">
        <a href="product-details.html"
          ><img
            src="assets/website-resources/img/product/small-product/product1.webp"
            alt="prduct-img"
        /></a>
      </div>
      <div class="minicart__text">
        <h4 class="minicart__subtitle">
          <a href="product-details.html">Car & Motorbike Care.</a>
        </h4>
        <span class="color__variant"><b>Color:</b> Beige</span>
        <div class="minicart__price">
          <span class="minicart__current--price">$125.00</span>
          <span class="minicart__old--price">$140.00</span>
        </div>
        <div class="minicart__text--footer d-flex align-items-center">
          <div class="quantity__box minicart__quantity">
            <button
              type="button"
              class="quantity__value decrease"
              aria-label="quantity value"
              value="Decrease Value"
            >
              -
            </button>
            <label>
              <input
                type="number"
                class="quantity__number"
                value="1"
                data-counter
              />
            </label>
            <button
              type="button"
              class="quantity__value increase"
              aria-label="quantity value"
              value="Increase Value"
            >
              +
            </button>
          </div>
          <button class="minicart__product--remove" type="button">
            Remove
          </button>
        </div>
      </div>
    </div>
    <div class="minicart__product--items d-flex">
      <div class="minicart__thumb">
        <a href="product-details.html"
          ><img
            src="assets/website-resources/img/product/small-product/product2.webp"
            alt="prduct-img"
        /></a>
      </div>
      <div class="minicart__text">
        <h4 class="minicart__subtitle">
          <a href="product-details.html">Engine And Drivetrain.</a>
        </h4>
        <span class="color__variant"><b>Color:</b> Green</span>
        <div class="minicart__price">
          <span class="minicart__current--price">$115.00</span>
          <span class="minicart__old--price">$130.00</span>
        </div>
        <div class="minicart__text--footer d-flex align-items-center">
          <div class="quantity__box minicart__quantity">
            <button
              type="button"
              class="quantity__value decrease"
              aria-label="quantity value"
              value="Decrease Value"
            >
              -
            </button>
            <label>
              <input
                type="number"
                class="quantity__number"
                value="1"
                data-counter
              />
            </label>
            <button
              type="button"
              class="quantity__value increase"
              aria-label="quantity value"
              value="Increase Value"
            >
              +
            </button>
          </div>
          <button class="minicart__product--remove" type="button">
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="minicart__amount">
    <div class="minicart__amount_list d-flex justify-content-between">
      <span>Sub Total:</span>
      <span><b>$240.00</b></span>
    </div>
    <div class="minicart__amount_list d-flex justify-content-between">
      <span>Total:</span>
      <span><b>$240.00</b></span>
    </div>
  </div>
  <div class="minicart__conditions text-center">
    <input class="minicart__conditions--input" id="accept" type="checkbox" />
    <label class="minicart__conditions--label" for="accept"
      >I agree with the
      <a class="minicart__conditions--link" href="privacy-policy.html"
        >Privacy Policy</a
      ></label
    >
  </div>
  <div class="minicart__button d-flex justify-content-center">
    <a class="primary__btn minicart__button--link" href="cart.html"
      >View cart</a
    >
    <a class="primary__btn minicart__button--link" href="checkout.html"
      >Checkout</a
    >
  </div>
</div>
<!-- End offCanvas minicart -->
